extends ../jade/layout

block head
    - var pageDescription="Регистрация";
    - var pageKeywords="Регистрация";
    - var pageTitle="Регистрация";

block content
    include ../blocks/form/form

    +form
