$formInput: '.formInput';

#{$formInput} {
    @include blockDefault;

    &__label {
        @include formLabel;
    }

    &__input {
        &:focus {
            border-color: $color-shamrock;
        }

        &.error {
            border-color: $color-carnation;
        }

        &:focus + #{$formInput}__tooltip,
        &.error + #{$formInput}__tooltip {
            &:after {
                min-height: 38px;
            }
        }
    }

    input[type=text] {
        padding-right: 53px;
    }

    &__tooltip {
        position: absolute;
        display: block;
        width: 38px;
        height: 38px;
        top: 1px;
        right: 1px;

        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 1px;
            min-height: 40px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: $color-white;
            @include transition(min-height);
        }
    }
}
