$formSubmit: '.formSubmit';

#{$formSubmit} {
    @include blockDefault;
    text-align: center;

    &__submit {
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 12px 10px;
        font-size: $font-size-default;
        line-height: $line-height-prelittle;
        color: $color-white;
        appearance: none;
        outline: none;
        background-color: $color-shamrock;
        border-radius: 5px;
        @include transition(opacity, box-shadow);

        &:hover {
            box-shadow: 0 0 10px 0 rgba($color-shamrock, .8);
        }

        &:active {
            box-shadow: none;
        }
    }

    &#{$formSubmit}_state_disabled {
        pointer-events: none;

        #{$formSubmit} {
            &__submit {
                opacity: .4;
            }
        }
    }
}
