mixin form
    +b('section').form
        +e('div').wrapper
            +e('form').form(action="", methods="")
                +e('div').header
                    +e('div').title!= "Регистрация"

                +e('div').content
                    +e('ul').list
                        +e('li').item
                            // formInput

                        +e('li').item
                            // formInput

                        +e('li').item
                            // formInput

                        +e('li').item
                            // formSubmit

                +e('div').footer
                    +e('div').result
                        // formResult
