include ../formInput/formInput

mixin form
    +b('section').form
        +e('div').wrapper
            +e('form').form(action="", methods="", id="myForm")
                +e('div').header
                    +e('div').title!= "Регистрация"

                +e('div').content
                    +e('ul').list
                        +e('li').item
                            +formInput({
                                name: 'fio',
                                id: 'fio',
                                label: 'ФИО'
                            })

                        +e('li').item
                            +formInput({
                                name: 'email',
                                id: 'email',
                                label: 'Email'
                            })

                        +e('li').item
                            +formInput({
                                name: 'phone',
                                id: 'phone',
                                label: 'Телефон'
                            })

                        +e('li').item
                            // formSubmit

                +e('div').footer
                    +e('div').result
                        // formResult
