include ../formInput/formInput
include ../formSubmit/formSubmit
include ../formResult/formResult

mixin form
    +b('section').form
        +e('div').wrapper
            +e('form').form(action="/server/error.json", method="GET", id="myForm")
                +e('div').header
                    +e('div').title!= "Регистрация"

                +e('div').content
                    +e('ul').list
                        +e('li').item
                            +formInput({
                                name: 'fio',
                                id: 'fio',
                                label: 'ФИО'
                            })

                        +e('li').item
                            +formInput({
                                name: 'email',
                                id: 'email',
                                label: 'Email'
                            })

                        +e('li').item
                            +formInput({
                                name: 'phone',
                                id: 'phone',
                                label: 'Телефон'
                            })

                        +e('li').item
                            +formSubmit({
                                id: 'submitButton',
                                name: 'submitButton'
                            })

                +e('div').footer
                    +e('div').result
                        +formResult
