include ../formInput/formInput
include ../formSubmit/formSubmit
include ../formResult/formResult

mixin form
    +b('section').form
        +e('div').wrapper
            +e('form').form(action="/server/progress.json", method="GET", id="myForm")
                +e('div').header
                    +e('div').title!= "Регистрация"

                +e('div').content
                    +e('ul').list
                        +e('li').item
                            +formInput({
                                name: 'fio',
                                id: 'fio',
                                label: 'ФИО',
                                tooltip: 'Ровно три слова'
                            })

                        +e('li').item
                            +formInput({
                                name: 'email',
                                id: 'email',
                                label: 'Email',
                                tooltip: 'Формат email-адреса, в доменах ya.ru, yandex.ru, yandex.ua, yandex.by, yandex.kz, yandex.com'
                            })

                        +e('li').item
                            +formInput({
                                name: 'phone',
                                id: 'phone',
                                label: 'Телефон',
                                tooltip: 'Номер телефона, например, +7(999)999-99-99. Сумма всех цифр телефона не должна превышать 30.'
                            })

                        +e('li').item
                            +formSubmit({
                                id: 'submitButton',
                                name: 'submitButton'
                            })

                +e('div').footer
                    +e('div').result
                        +formResult
